.contact-container {
  position: relative;
  height: 95vh;
  width: 100%;
  background-color: #0f0678;
  display: flex;
  justify-content: center;
  align-items: center;
  .contact-page {
    height: 70vh;
    width: 50%;
    background-color: white;
    border-radius: 0px 150px 150px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      font-size: 3rem;
      font-weight: 800;
    }
    main {
      width: 70%;
      height: 18rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0px 4rem;
      div {
        display: flex;
        justify-content: space-between;
        text-align: center;
        label {
          font-size: 1.4rem;
          font-weight: 500;
        }
        input {
          height: 2.3rem;
          width: 15rem;
        }
        textarea {
          height: 2.3rem;
          width: 15rem;
        }
      }
    }
    .button1 {
        height: 2rem;
        width: 7rem;
        background-color: #6058bb;
        color: white;
        font-size: 1rem;
        font-weight: 800;
        letter-spacing: 3px;
        margin-top: 20px;
      }
  }
}
